@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  p, h1, h2, h3, a, span, li, ul {
    @apply text-lightMode-text; /* Estilo para el modo claro */
  }

  /* Estilos para el modo oscuro */
  .dark p,
  .dark h1,
  .dark h2,
  .dark h3,
  .dark a,
  .dark span,
  .dark li,
  .dark ul {
    @apply text-darkMode-text; /* Color de texto para modo oscuro */
  }

  p, h1, h2, h3, a, span, li, ul {
    @apply tracking-normal leading-normal; /* Estilo para el modo claro */
  }
}



/* Personalización de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 4px; /* Ancho de la barra de desplazamiento */
}

::-webkit-scrollbar-thumb {
  background-color: #04a5e5; /* Color del thumb (parte que se mueve) */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4c4f69; /* Color del thumb cuando el mouse pasa sobre él */
}

::-webkit-scrollbar-track {
  background-color: #fff; /* Color de la pista de la barra de desplazamiento */
  border-radius: 4px;
}

/* Estilos para la barra de desplazamiento en el modo oscuro */
.dark ::-webkit-scrollbar-thumb {
  background-color: #89dceb; /* Color del thumb en modo oscuro */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #cdd6f4; /* Color del thumb cuando el mouse pasa sobre él */
}

.dark ::-webkit-scrollbar-track {
  background-color: #09090B; /* Color de la pista en modo oscuro */
}

.noise {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
  /* background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1400 1400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"); */
  background-image: url("../../public/images/noise.svg");
  opacity: 0.8;
  mix-blend-mode: overlay;
  background-blend-mode: overlay, normal, normal, normal;
}

/* Background container */
.bg-gradient {
  position: relative;
  overflow: hidden;
}
